spring.application.name: demo-catalog

server:
  port: 9001
  tomcat:
    connection-timeout: 2s
    keep-alive-timeout: 10s
    threads:
      max: 50
      min-spare: 5

polar:
  greeting: Welcome to the local book catalog!

